NEXT_PUBLIC_SUPABASE_URL=https://nama-proyek.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=kunci-publik-supabase
GITHUB_BACKUP_TOKEN=token_halus_github
GITHUB_BACKUP_REPOSITORY=tirsasaki/bukuhutang-backup
GITHUB_BACKUP_BRANCH=main
